body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height */
}

.header_div {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 15px;
    background-color: #f0ede7;
    color: #6d5c4e;
    border-bottom: 2px solid #ccc;
}

#nav_div {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
}

.nav_link {
    text-decoration: none;
    color: #6d5c4e;
    font-weight: bold;
    padding: 10px;
}

.nav_link:hover {
    text-decoration: underline;
    color: #333;
}

#content_div {
    flex: 1;
    padding: 20px;
    text-align: left;
    color: #444;
    height: calc(100vh - 100px); /* Adjusting for header & nav */
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}
